@import "shared";

.Header-nav {
  background: $--color-shaft;
  display: flex;
  justify-content: space-around;

  @include md {
    flex-flow: column;
  }

  &-menu {
    text-align: center;
    display: none;

    @include md {
      display: block;
    }

    svg {
      width: 50px;
      cursor: pointer;
      transition: transform 400ms;
      user-select: none;
    }

    svg.is-menu-active {
      transform: rotate(45deg);
    }

    path {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: $--color-alabaster;
      stroke-width: 7;
      stroke-linecap: round;
    }

    svg .top {
      stroke-dasharray: 40, 160;
    }
    svg .middle {
      stroke-dasharray: 40, 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }
    svg .bottom {
      stroke-dasharray: 40, 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }

    svg.is-menu-active .top {
      stroke-dashoffset: -64px;
    }
    svg.is-menu-active .middle {
      transform: rotate(90deg);
    }
    svg.is-menu-active .bottom {
      stroke-dashoffset: -64px;
    }

  }

  &-btn {
    color: $--color-white;
    font-size: px2vw-lg(30px);
    padding: px2vw-lg(16px) px2vw-lg(22px);
    line-height: initial;
    border-radius: initial;

    @include md {
      display: none;
      font-size: px2vw-md(18px);
      padding: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      padding: px2vw-sm(16px);
    }

    &.is-active {
      background: $--color-sushi;
    }
  }

  &.is-menu-active &-btn {

    @include md {
      display: block;
    }
  }
}

