<nav [class.is-menu-active]="mobileMenuIsActive" class="Header-nav">
  <div class="Header-nav-menu">
    <button (click)="mobileMenuIsActive = !mobileMenuIsActive" mat-button>
      <svg [class.is-menu-active]="mobileMenuIsActive" viewBox="0 0 100 100" width="280">
        <path
          class="top"
          d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
        <path
          class="middle"
          d="m 30,50 h 40" />
        <path
          class="bottom"
          d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
      </svg>
    </button>
  </div>

  <button
    *ngFor="let link of navLinksService.links$ | async; trackBy: trackById"
    (click)="onChangeTab(link)"
    [class.is-active]="link.isActive"
    data-e2eid="navLink"
    mat-button class="Header-nav-btn">
    {{link.name}}
  </button>
</nav>
