@import "shared";

:host {
  display: block;
  background: url("/assets/img/bg.png") repeat;
  min-height: 100%;
}

.App-list {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 83%;
  margin: 0 auto;
  padding: 50px 0;

  @include md {
    width: 100%;
  }
}

