<app-header></app-header>

<div class="App-list">
  <ng-container *ngIf="(gamesService.events$ | async)?.loading; else gamesLoaded">
    <app-loading></app-loading>
  </ng-container>

  <ng-template #gamesLoaded>
    <app-game-item
      *ngFor="let item of gamesService.activeList$ | async; trackBy: trackById"
      [value]="item"
      [activeLink]="navLinksService.activeLink$ | async"
    ></app-game-item>
  </ng-template>
</div>

