<div class="GameItem">
  <div class="GameItem-ribbon"><span>{{ribbon}}</span></div>

  <div *ngIf="value?.amount" class="GameItem-jackpot">{{value.amount}}</div>

  <div class="GameItem-img rcap-skeleton">
    <img [src]="value?.image" alt="">GamesApiService should be
  </div>

  <div class="GameItem-info">
    <button mat-button class="GameItem-info-play"><img src="./assets/icons/play.svg" alt=""></button>
    <div class="GameItem-info-name">{{value?.name}}
    </div>
  </div>
</div>
