@import "shared";

:host {
  position: relative;
  height: 210px;
  width: 295px;
  margin: 0 10px 47px;
}


.GameItem {
  height: 100%;

  &-img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &-img img {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  &-ribbon {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    top: -10px;
    right: -10px;

    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid #69942e;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    span {
      position: absolute;
      display: block;
      width: 225px;
      padding: 15px 15px 15px 0;
      background-color: $--color-sushi;
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
      color: #fff;
      font: 700 18px/1 'Lato', sans-serif;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      text-transform: uppercase;
      text-align: center;
      left: -25px;
      top: 30px;
      transform: rotate(45deg);
    }
  }

  &-jackpot {
    font-size: 14px;
    position: absolute;
    text-align: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 12px;
  }

  &-info {
    position: relative;
    z-index: 2;
    height: 100%;
    font-size: 14px;
  }

  &-info-play {
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-info-name {
    opacity: 0;
    will-change: opacity;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }

  &:hover & {
    &-info-play {
      pointer-events: initial;
      opacity: 1;
    }

    &-info-name {
      opacity: 1;
    }
  }
}


