<div class="Loading">
  <div class="Loading-item">
    <div class="Loading-item-box"></div>
  </div>
  <div class="Loading-item">
    <div class="Loading-item-box"></div>
  </div>
  <div class="Loading-item">
    <div class="Loading-item-box"></div>
  </div>
</div>
