/*
Color name generator:
http://chir.ag/projects/name-that-color/#FCFCFC
Can be used for component "--modifierName"
*/

// App colors
$--color-sushi: #8DC63F;
$--color-shaft: #373737;
$--color-white: #fff;
$--color-alabaster: #FCFCFC;

