@function px2vw-lg($target) {
  $vw-context: ($screen-lg*.01) * 1px;

  @return ($target/$vw-context) * 1vw;
}


@function px2vw-md($target) {
  $vw-context: ($screen-md*.01) * 1px;

  @return ($target/$vw-context) * 1vw;
}


@function px2vw-sm($target) {
  $vw-context: ($screen-sm*.01) * 1px;

  @return ($target/$vw-context) * 1vw;
}

