// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg}px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md}px) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm}px) {
    @content;
  }
}



// Button events
@mixin btnEvents() {
    &:hover  {
        opacity: .9;
    }

    &:active {
        opacity: .8;
        box-shadow: none;
    }
}
